client*.json
credentials.json
token.json

CourseFiles
assignments-folder
git 
*target*
AutoJudge/evaluation_engine/target
tickets.md
*review.md
*venv*

RABBITMQ_IMPLEMENTATION_NEW_FUNCTIONALITY.md
rabbitMQ.txt
*.xlsx