credentials.json
client_secret*.json
CourseFiles

git 
*target*
AutoJudge/evaluation_engine/target
assignments*
tickets.md
*review.md
*venv*
*assignments*

rabbitMQ.txt
*.xlsx


httptest.http
AutoJudge/evaluation_engine/data/

autojudge.mv.db
autojudge.trace.db